*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* -------- Header ---------- */
header{
    display: flex;
    background-color:rgb(100, 149, 237);
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    z-index: 100;
}

.navbar{
    font-size: 15px;
}

.navbar .nav-link{
    font-weight: 500;
}

.navbar .nav-link:hover{
    text-decoration: underline;
}

header img{
    display: flex;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

header h1{
    text-align: center;
    color: black;
    font-size: 22px;
    margin-bottom: 1px;
}

h2{
    font-size: 20px;
    color: rgb(52, 114, 246);
    padding: 20px 5px;
    margin-left: 10px;
    margin-bottom: 8px;
}

p{
    font-size: 17px;
    color: rgb(0, 5, 15);
    margin-top: 0;
    margin-bottom: 15px;
    padding: 5px;
    margin:10px 30px;  
    text-align: justify;
}

.ordenar{
    font-size: 17px;
    color: rgb(102, 147, 237);
    padding: 20px 30px;
    margin-left: 30px; 
    gap: 40px;
}

/* -------- FOTOS DE LA GALERÍA ------ */
.galeria{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeria img{
    width: 200px;
    height: 150px;
    object-fit: cover; /* ---- para no deformarse ---- */
    border-radius: 8px;
}

.img-galeria{
    display: flex;
    justify-content: center;
}

.proyecto{
    background-color: rgb(250, 169, 70);
    margin: 20px auto;
    padding: 5px;
    width: 95%;
    border-radius: 15px;
}

.subtitulo{
    text-align: center;
    color: rgb(37, 0, 249);
    font-size: 22px;
    margin-bottom: 10px;
}

.mapa{
    max-width: 600px;
    margin: auto;
}

.formulario-contacto {
    background-color: #e6f0ff;
    color: #664d00;           
}

.form-label{
    text-align: center;
}

/* --------TEXTO SELECCIONADO -------- */

::selection{
    background-color: rgb(246, 170, 64);
    color: white;
}

div ul{
    color: rgb(39, 38, 38);
}

/*----------------- MEDIAQUERTE -------------- */

@media (max-width:500px){
    header{
        flex-direction: column;
        align-items: center; 
}
}
